
<!--
<h1>Doctor OLD Under construction</h1>

<div ui-view="columnOne"></div> 
<div ui-view="columnTwo"></div> 
-->
<!--
<div class="row">
<div class="col-md-7">
<pre>{{DoctorDataCtrl.model | json}} </pre>
</div>
<div class="col-md-7">
<pre>{{DoctorDataCtrl.model1 | json}} </pre>
</div>
</div>
-->
<div class="col-md-8">
 <div ag-grid="DoctorDataCtrl.gridOptions" class="ag-fresh" style="height: 600px;"></div>
</div>
<div class="col-md-7">
<pre>{{DoctorDataCtrl.doctors | json}} </pre>
</div>

    
     
  
<div class="listing-row" itemscope="" itemtype="https://schema.org/Dentist">

   <div class="doc-photo-container">
      <span href="https://www.practo.com/hyderabad/doctor/dr-vijay-simha-raju-dentist-2" class="block lh_1">
      <img src="https://images1-fabric.practo.com/dr-vijay-simha-raju-1455516871-56c16cc7755f3.jpg/thumbnail" alt="Dr. Vijay Simha Raju - Dentist" data-lazy-src="https://images1-fabric.practo.com/dr-vijay-simha-raju-1455516871-56c16cc7755f3.jpg/thumbnail" data-originalsrc="https://images1-fabric.practo.com/dr-vijay-simha-raju-1455516871-56c16cc7755f3.jpg" class="doc_avatar" title="Dr. Vijay Simha Raju - Dentist, Hyderabad" style="display: inline;">
      </span>
      <link itemprop="photo" href="https://images1-fabric.practo.com/dr-vijay-simha-raju-1455516871-56c16cc7755f3.jpg">
   </div>
   
   <div class="doc-details-block">
           
      <a itemprop="url" class="link doc-name smokeliftDoctorLink" data-ana="ListingCardClick:166264:Doctor" href="https://www.practo.com/hyderabad/doctor/dr-vijay-simha-raju-dentist-2" data-doctor-id="166264" data-rank="11">
         <h2 itemprop="name">
            Dr. Vijay Simha Raju
         </h2>
      </a>
      
      <p class="doc-qualifications">
         BDS, MDS - Prosthodontics and Oral Implantology
      </p>
      
      <p class="doc-exp-years">
         10 years experience        
      </p>
      
      <p class="doc-specialties ">
         <span>Dentist</span>
      </p>
      
      <p class="doc-clinic-name" itemprop="branchOf" itemscope="" itemtype="https://schema.org/MedicalOrganization">
         <a itemprop="url" class="light_grey link smokeliftClinicLink" href="https://www.practo.com/hyderabad/clinic/vijay-multispeciality-dental-hospital-miyapur-chanda-nagar">
         <span itemprop="name">
         Vijay Multispeciality Dental Hospital
         </span>
         </a>
         <a itemprop="url" class="light_grey link smokeliftClinicLink" href="https://www.practo.com/hyderabad/doctor/dr-vijay-simha-raju-dentist-2">
         <span itemprop="name">
         and 1 more clinic                                                            </span>
         </a>
      </p>
      
      <div class="doctor-page aes-block">
         <div class="practice-star-rating aes-star-rating">
            <span class="font-star icon-star filled-star"></span>
            <span class="font-star icon-star filled-star"></span>
            <span class="font-star icon-star filled-star"></span>
            <span class="font-star icon-star filled-star"></span>
            <span class="font-star icon-star-half filled-star"></span>
         </div>
      </div>
      
      <p class="doc-clinic-photos">
         <a data-doctorid="166264" class="cboxElement clinic_thumbs clinic_photos_166264" href="https://images1-fabric.practo.com/5594fc439486c1c222c9181f2dfcc08ca42e869cf88c8.jpg/large" rel="nofollow">
         <img src="https://images1-fabric.practo.com/5594fc439486c1c222c9181f2dfcc08ca42e869cf88c8.jpg/microthumbnail" data-lazy-src="https://images1-fabric.practo.com/5594fc439486c1c222c9181f2dfcc08ca42e869cf88c8.jpg/microthumbnail" data-originalsrc="https://images1-fabric.practo.com/5594fc439486c1c222c9181f2dfcc08ca42e869cf88c8.jpg" class="clinic_photos" alt="Vijay Multispeciality Dental Hospital - Image 1" style="display: inline;">
         </a>
         <link itemprop="photo" href="https://images1-fabric.practo.com/5594fc439486c1c222c9181f2dfcc08ca42e869cf88c8.jpg">
         <a data-doctorid="166264" class="cboxElement clinic_thumbs clinic_photos_166264" href="https://images1-fabric.practo.com/5594fc4f18bac6512bd43d9caa6e02c990b0a82652dca.jpg/large" rel="nofollow">
         <img src="https://images1-fabric.practo.com/5594fc4f18bac6512bd43d9caa6e02c990b0a82652dca.jpg/microthumbnail" data-lazy-src="https://images1-fabric.practo.com/5594fc4f18bac6512bd43d9caa6e02c990b0a82652dca.jpg/microthumbnail" data-originalsrc="https://images1-fabric.practo.com/5594fc4f18bac6512bd43d9caa6e02c990b0a82652dca.jpg" class="clinic_photos" alt="Vijay Multispeciality Dental Hospital - Image 2" style="display: inline;">
         </a>
         <link itemprop="photo" href="https://images1-fabric.practo.com/5594fc4f18bac6512bd43d9caa6e02c990b0a82652dca.jpg">
         <a data-doctorid="166264" class="cboxElement clinic_thumbs clinic_photos_166264" href="https://images1-fabric.practo.com/5594fc51a835bb6d767d2f8ed5d21a44b0e5886680cb9.jpg/large" rel="nofollow">
         <img src="https://images1-fabric.practo.com/5594fc51a835bb6d767d2f8ed5d21a44b0e5886680cb9.jpg/microthumbnail" data-lazy-src="https://images1-fabric.practo.com/5594fc51a835bb6d767d2f8ed5d21a44b0e5886680cb9.jpg/microthumbnail" data-originalsrc="https://images1-fabric.practo.com/5594fc51a835bb6d767d2f8ed5d21a44b0e5886680cb9.jpg" class="clinic_photos" alt="Vijay Multispeciality Dental Hospital - Image 3" style="display: inline;">
         </a>
         <link itemprop="photo" href="https://images1-fabric.practo.com/5594fc51a835bb6d767d2f8ed5d21a44b0e5886680cb9.jpg">
         <a data-doctorid="166264" class="cboxElement clinic_thumbs clinic_photos_166264" href="https://images1-fabric.practo.com/5594fc5497188182be0c5cdcd5072bb1864cdee4d3d6e.jpg/large" rel="nofollow">
         <img src="https://images1-fabric.practo.com/5594fc5497188182be0c5cdcd5072bb1864cdee4d3d6e.jpg/microthumbnail" data-lazy-src="https://images1-fabric.practo.com/5594fc5497188182be0c5cdcd5072bb1864cdee4d3d6e.jpg/microthumbnail" data-originalsrc="https://images1-fabric.practo.com/5594fc5497188182be0c5cdcd5072bb1864cdee4d3d6e.jpg" class="clinic_photos" alt="Vijay Multispeciality Dental Hospital - Image 4" style="display: inline;">
         </a>
         <link itemprop="photo" href="https://images1-fabric.practo.com/5594fc5497188182be0c5cdcd5072bb1864cdee4d3d6e.jpg">
      </p>
      
   </div>
   
   
   <div class="doc-availability-block">
      <div class="patient_experience_score recommend">        
         <span class="practo-icon icon-like"></span>
         97%  <span class="doctor-votes">(120 votes)</span>             
      </div>
      <p class="reviews-count">
         <span class="practo-icon icon-comment"></span>
         <a href="https://www.practo.com/hyderabad/doctor/dr-vijay-simha-raju-dentist-2#recommended">23 Feedback </a>
      </p>
      <p class="locality" itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
         <span class="practo-icon icon-pin"></span>
         <a class="link grey" href="https://www.practo.com/hyderabad/dentist/miyapur">
         <span itemprop="addressLocality">Miyapur</span>, <span itemprop="addressRegion">Hyderabad</span>
         </a>
      </p>
      <span itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
         <meta itemprop="latitude" content="17.505309121006">
         <meta itemprop="longitude" content="78.362069427967">
      </span>
      <p class="fees">
         <span class="practo-icon icon-cash"></span>
         <span class="fees-amount">
         INR 200
         </span>
         <meta itemprop="priceRange" content="200">
         <meta itemprop="currenciesAccepted" content="INR">
      </p>
      <div class="timings">
         <span class="practo-icon icon-clock"></span>
         <div class="timings-block">
            <p><span class="strong days-timing">MON-SUN</span><br><span class="hours-timing">10:00AM-10:30AM</span></p>
         </div>
         <div class="clear"></div>
         <meta itemprop="openingHours" content="Mo-Su 10:00-10:30">
      </div>
      <div class="booking-link-container non-abs">
         <input class="book-toggle ui-helper-hidden-accessible" type="checkbox" data-doctorid="166264" data-origin="Listings" data-pagetype="Listings" data-appttype="VN" data-ana="BookAppointmentClick:690970:166264" id="slots_166264">
         <label class="book-toggle-button ui-button ui-widget ui-state-default ui-corner-all virtual-number ui-button-text-only" for="slots_166264" role="button" aria-disabled="false"><span class="ui-button-text">
         <span class="instant-icon"></span>
         <span class="vn-call-icon"></span>
         <span class="button-text">
         Show Number
         </span>
         </span></label>
      </div>
   </div>
   
   <div class="clear"></div>
   
</div>