
.flex-con {
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: center;
    justify-content: center;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

}

.flex-1 {
  /*  background-color: cornflowerblue; */
    width: 270px;
    height: auto;    /*  1400px; */
    margin: 10px 15px;
 /*  border: 1px solid red; */

}
.flex-2 {
  /*  background-color: cornflowerblue; */
    width: 270px;
    height: 1400px;
    margin: 10px 10px;
    
}
.flex-3 {
   /* background-color: cornflowerblue; */
    width: 320px;
    height: 245px;
    margin: 10px 15px;
    border: 1px solid red;

}




.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}


.hyphenate {
  /* Careful, this breaks the word wherever it is without a hyphen */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Adds a hyphen where the word breaks */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}