
<div ng-include="'components/navbar/navbar.html'"></div>

<div class="row">

    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">

            <li ng-repeat="form in SettingsCtrl.settingsForms"><a href="" ng-click="SettingsCtrl.changeForm($index)">{{form.title}}</a>
            </li>

        </ul>
    </div>

    <div class="col-md-7 well">

        <div ng-if="SettingsCtrl.loadingData.$$state.status === 0" style="margin:20px 0;font-size:2em">
            <strong>Loading...</strong>
        </div>
        <div ng-if="SettingsCtrl.loadingData.$$status.state !== 0">

        <div class="flex-con">
            
            <div class="flex-1"> 
            <form ng-submit="SettingsCtrl.onSubmit()" novalidate>
                <formly-form  model="SettingsCtrl.model" fields="SettingsCtrl.fields1">
                    <button type="submit" class="btn btn-primary submit-button">Submit</button>
                </formly-form>
            </form>
            </div>

            <div class="flex-2"> 
                <formly-form  model="SettingsCtrl.model" fields="SettingsCtrl.fields2"></formly-form>
                <formly-form  model="SettingsCtrl.model" fields="SettingsCtrl.fields3"></formly-form>
                <formly-form  model="SettingsCtrl.model" fields="SettingsCtrl.fields4"></formly-form>
            </div>
                
        </div>
        </div>

    </div>

</div>

<pre>{{SettingsCtrl.model | json}}</pre>

<pre>{{SettingsCtrl.originalFields | json}}</pre>


